@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Rubik:wght@300;400;500;600&family=Ubuntu+Mono:wght@400;700&display=swap');
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

.row-details {
  font-family: "Public Sans";
  padding: 3rem 5rem;
  box-shadow: inset 0 1px 10px #dbdbdb;
  
}

.appear {
  animation: fadein .3s ease;
}

.disappear {
  animation: fadeout .3s ease;
}

.header {
 padding:15px !important;
 background-color: hsl(213, 45%, 97%) !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.circle {
  border-radius:100%;
  height:22px;
  width: 22px; 
  display:inline-block; 
  position:relative; 
  transition:.1s ease-in-out all;
}


button:hover .tooltext{
  opacity: 1; 
  visibility:visible;
}

.badge {
  border-radius:100%;
  height: 30px;
  width: 30px;
  color:black;
}


.black { 
border:1px solid #e72ce3; 
background-color:#f5c0f764; 
}

.hispanic {
  background-color: #f5871866; 
  border: 1px solid #F58818; 
}

.veteran {
  background-color: #facc0061;
  border: 1px solid #face00;
}

.asian {
  background-color: #0344b35a;
  border: 1px solid #012563;
}

.nativeamer {
  background-color: #f531656f;
  border: 1px solid #F53165; 
}

.wbe { 
background-color: #a3e5b874; 
border: 1px solid #56f287ce; 
}

.disabled {
  background-color: #b12f3a45;
  border: 1px solid #b12f39;
}

.subasian {
  background-color: aliceblue;
  border: 1px solid rgb(91, 178, 254);
}

.mbe { 
background-color: #012563; 
color:white; 
}

.row-details h4 {
  font-weight:bold; 
  line-height:1rem; 
}

.company-address {
  color: #696969;
}
.company-address i {
  color:#00a8a3;
}

.company-footer div {
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.contact-group div {
  display:flex;
  justify-content: flex-start; 
  flex-wrap:wrap;
}
 
 .contact-item {
   background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 0;
 }

.body-badge {
  padding:.2rem 1rem ; 
  border-radius:10px;
  margin: .4rem;
  display:inline-block; 
} 

.tag-group {
  margin: 1rem 0; 
}
